@charset "utf-8";
@import 'https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap';

/* 전체 */
.wrap {
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 1fr 700px 1fr;
  grid-template-areas:
    'hl    hm     hr'
    '.     mm     .';
}

#hl {
  grid-area: hl;
}
/* 헤더 메인*/
#hm {
  grid-area: hm;
  margin: 0;
  display: grid;
  grid-template-columns: 1.18fr 0.82fr;
  grid-template-areas: 'hm-l   hm-r';
}
#hl,
#hm,
#hr {
  border-bottom: ridge 1px gray;
  padding-bottom: 4px;
}
#hl {
  margin-left: 50px;
}
#hr {
  margin-right: 50px;
}
/* 헤더 왼쪽*/
#hm .hm-l {
  grid-area: hm-l;
}
#hm .hm-l {
  display: flex;
  justify-self: flex-end;
  align-items: center;
}
#hm .hm-l .main-t {
  margin: 0;
  font-size: 39px;
  font-weight: 900;
  font-family: 'Nanum Gothic', sans-serif;
  text-shadow: 1px 1px 1px #6e6e6e;
}
#hm .hm-r .sub-t {
  margin-bottom: 0;
  font-weight: bold;
  margin-left: 10px;
  text-shadow: 1px 1px 1px #6e6e6e;
}
/* 헤더 오른쪽*/
#hm .hm-r {
  grid-area: hm-r;
  justify-self: flex;
  align-self: center;
}
#btn-home {
  font-size: 0.95rem;
  border-style: none;
}
#btn-log {
  border-style: none;
}
#btn-home a,
#btn-log a {
  text-decoration: none;
}
#btn-home a:visited,
#btn-home a:link,
#btn-log a:visited,
#btn-log a:link {
  color: black;
}

#hr {
  grid-area: hr;
}

/* 메인박스*/
#main-b {
  grid-area: mm;
  outline: ridge 1px black;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 100px;
  padding-right: 90px;
  margin-top: 30px;
}

/* 메인박스 타이틀 */
#main-b .tm {
  font-size: 35px;
  font-weight: bold;
  height: 70px;
  line-height: 70px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 25px 25px 0px 0px;
  background-color: rgb(121, 205, 156);
}

/* 메인박스 동의 */
#arg-bc {
  background-color: #eceaea;
}
#mm .agr {
  align-items: center;
  outline: ridge 1px black;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: auto;
}
#mm .agr-t {
  border-bottom: ridge 1px black;
}
#mm input[type='checkbox'] {
  margin: 0px 10px;
}
#mm .arg-1,
#mm .agr-2,
#mm .agr-3,
#mm .agr-4,
#mm .agr-5,
#mm .agr-6 {
  display: flex;
  line-height: 0;
}
#mm .fa-solid.fa-sort-down.a,
#mm .fa-solid.fa-caret-up.a {
  position: relative;
  left: 250px;
}
#mm .fa-solid.fa-sort-down.b,
#mm .fa-solid.fa-caret-up.b {
  position: relative;
  left: 239px;
}
#mm .fa-solid.fa-sort-down.c,
#mm .fa-solid.fa-caret-up.c {
  position: relative;
  left: 196px;
}
#mm .fa-solid.fa-sort-down.d,
#mm .fa-solid.fa-caret-up.d {
  position: relative;
  left: 196px;
}
#mm .fa-solid.fa-sort-down.e,
#mm .fa-solid.fa-caret-up.e {
  position: relative;
  left: 185px;
}
#mm .fa-solid.fa-sort-down.f,
#mm .fa-solid.fa-caret-up.f {
  position: relative;
  left: 197px;
}

#mm .fa-solid.fa-caret-up {
  display: none;
}

#text-box1,
#text-box2,
#text-box3,
#text-box4,
#text-box5,
#text-box6 {
  outline: ridge 1px black;
  display: none;
  width: 480px;
  height: 100px;
  overflow: scroll;
}
/* 메인 개인정보 */

ul {
  padding-left: 10px;
  outline: 1px solid #9096a1;
  border-radius: 10px;
  width: 500px;
  list-style: none;
}
ul label {
  font-size: 0.9rem;
  color: #9096a1;
}

/* 메인 전체 박스 */

#id-b,
#passc-b,
#name-b,
#birth-b,
#adr-b3,
#emailNum-b {
  margin-bottom: 0;
}
#adress {
  margin-top: 10px;
}
#phone-b {
  margin-bottom: 20px;
}

/* 아이디 */
#id-b .id-t,
#pass-b .pass-t,
#birth-b .birth-t,
#pass .fa-solid {
  display: flex;
  line-height: 0;
}
#id-b {
  margin-top: 40px;
}

#id-down {
  font-size: 14px;
  color: red;
  display: none;
}

/* 비밀번호 */

#pass-b {
  margin-bottom: 0;
}
#passc-b {
  margin-top: 0;
}
#pass-b .pass-a,
#passc-b .passc-b {
  width: 430px;
  height: 30px;
  border-style: none;
  font-size: 20px;
  letter-spacing: 2px;
}

#pass-b .pass-a:focus,
#passc-b .passc-b:focus {
  outline-style: none;
}
#pass-b .fa-solid.fa-lightbulb.a,
#passc-b .fa-solid.fa-lightbulb.b {
  display: none;
}
#pass-b .fa-regular.fa-lightbulb.a,
#pass-b .fa-solid.fa-lightbulb.a,
#passc-b .fa-regular.fa-lightbulb.b,
#passc-b .fa-solid.fa-lightbulb.b {
  font-size: 20px;
}

#pass-down {
  font-style: 14px;
  color: red;
  display: none;
}
#passc-down {
  font-style: 14px;
  color: red;
  display: none;
}
/* 개인정보 input창 스타일*/

#id-b input[type='text'],
#pass-b input[type='password'],
#passc-b input[type='password'],
#name-b input[type='text'],
#birth-b input[type='text'],
#email-b input[type='email'],
#email-b input[type='email'],
#emailNum-b input[type='email'],
#phone-b input[type='tel'] {
  width: 450px;
  height: 30px;
  border-style: none;
  font-size: 20px;
  letter-spacing: 2px;
}
#id-b input[type='text']:focus,
#pass-b input[type='password']:focus,
#passc-b input[type='password']:focus,
#name-b input[type='text']:focus,
#birth-b input[type='text']:focus,
#email-b input[type='email']:focus,
#emailNum-b input[type='email']:focus,
#phone-b input[type='tel']:focus {
  outline-style: none;
}

/* 이름 */
#name-down {
  font-size: 14px;
  color: red;
  display: none;
}

/* 생년월일 남/여 */

#birth-b .bg-b {
  display: flex;
}
#birth-b .bg-b .ma,
#birth-b .bg-b .wo {
  align-self: center;
  width: 40px;
  color: #3c3c3c;
}
#birth-down {
  font-size: 14px;
  color: red;
  display: none;
}

#male,
#female {
  appearance: none;
}

#birth-b .ma {
  font-weight: bold;
  color: white;
}
#birth-b .wo {
  font-weight: bold;
  color: white;
}
#gen {
  border: ridge 1px black;
  border-radius: 30%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

/* 개인정보 우편번호 */
#adress {
  display: flex;
}
#adr-b {
  width: 200px;
  height: 35px;
  margin-top: 0;
  margin-bottom: 0;
}
#adress .adr-t {
  border-style: none;
  text-align: center;
  height: 35px;
  font-size: 15px;
  letter-spacing: 10px;
}
#adress .adr-t:focus {
  outline-style: none;
}
#adress .btn-adr {
  align-self: flex-end;
  width: 100px;
  height: 35px;
}
#adr-b2 {
  margin-top: 0;
  margin-bottom: 0;
}
#adr-last {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 0;
}
#adr-b3 {
  margin-top: 0;
  width: 250px;
}
#adr-b4 {
  margin-top: 0;
  width: 240px;
  height: 35px;
}
#sample6_extraAddress {
  margin-left: 0;
  width: 230px;
  text-align: center;
}
#sample6_extraAddress:focus {
  width: 230px;
}
#adr-b2,
#adr-b3 {
  height: 35px;
}
#adr-b2 .adr-t2 {
  padding-left: 10px;
  letter-spacing: 5px;
  width: 480px;
  height: 30px;
}
#adr-b3 .adr-t3 {
  padding-left: 10px;
  letter-spacing: 3px;
  width: 230px;
  height: 30px;
}
#adr-b4 .adr-t4 {
  height: 30px;
}

#adr-b2 input[type='text'],
#adr-b3 input[type='text'],
#adr-b4 input[type='text'] {
  border-style: none;
}
#adr-b2 input[type='text']:focus,
#adr-b3 input[type='text']:focus,
#adr-b4 input[type='text']:focus {
  outline-style: none;
}

/* 개인정보 이메일 */
#email-b {
  margin-top: 0;
  margin-bottom: 0;
}
#emailNum-b {
  margin-top: 0;
}
#emailNum-b .email-in,
#email-b .email-out {
  display: flex;
}
#btn-email {
  font-size: 0.7rem;
  width: 100px;
}
#email-l {
  display: none;
  margin: 0px;
}
#email-l .sel1,
#email-l .sel2,
#email-l .sel3,
#email-l .sel4,
#email-l .sel5,
#email-l .sel6,
#email-l .sel7 {
  cursor: pointer;
}
#email-l .sel1:hover,
#email-l .sel2:hover,
#email-l .sel3:hover,
#email-l .sel4:hover,
#email-l .sel5:hover,
#email-l .sel6:hover,
#email-l .sel7:hover {
  background-color: #fffa78;
}

/* 가입하기 버튼*/
#btn-sign {
  display: block;
  background-color: rgb(121, 205, 156);
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  height: 45px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 20px;
  border-radius: 0px 0px 25px 25px;
  border-style: none;
}
