@charset "utf-8";

#main .main__title a:nth-child(1) {
  background-color: var(--color-normal-green);
  font-weight: var(--header-subTitle-700);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 5px;
}
#main .main__title a:nth-child(1).active {
  background-color: var(--color-normal-gray);
}
#main .main__title a:nth-child(2) {
  background-color: var(--color-normal-gray);
  font-weight: var(--header-subTitle-700);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 5px;
}
#main .main__title a:nth-child(2).active {
  background-color: var(--color-normal-green);
}
